<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html></html>
<head>
  <title>Proj 2</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel="stylesheet"></link>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"></link>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="wrapper clearfix">
      <div id="logo">
        <%= link_to "Proj 2", root_path %>
      </div>
      <nav>
        <% if user_signed_in? %>
          <%= link_to "Profile", edit_user_registration_path %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

              <%= link_to "Add New Course", new_course_path, class: "button" %>
  
        <% else %>
          <%= link_to "Sign in", new_user_session_path %>
          <%= link_to "Sign Up", new_user_registration_path, class: "button" %>
        <% end %>
      </nav>
    </div>
  </header>
  <% if flash[:notice] %>
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
    </div>
  <% elsif flash[:error] %>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
    </div>
  <% end %>
  <div class="wrapper">
    <%= yield %>
  </div>
</body>

